<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>


    <h1><%= title %></h1>
    <form action="/addevent" method="post" enctype="multipart/form-data">
          <div class="">
            <input class="form-control" type="text" name="name" placeholder="event name">
          </div>
          <div class="">
            <input class="form-control" type="text" name="date" placeholder="date">
          </div>
          <div class="">
            <input class="form-control" type="text" name="location" placeholder="location">
          </div>
            <button class= "form-control btn btn-primary" type="submit">Add Event</button>
          </form>

    <a href="/">Main Page</a>




  </body>
</html>
