<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <!-- navbar -->
    <% include partials/functions/navbar %>

    <!-- form to create an event -->
    <h1><%= title %></h1>
    <form action="/addevent" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" name="name" placeholder="event name">
            <input class="form-control" type="text" name="date" placeholder="date">
            <input class="form-control" type="text" name="location" placeholder="location">
            <input class="form-control" type="text" name="description" placeholder="description">
            <input class="form-control" type="file" name="image" value="">
            <button class="form-control btn btn-primary" type="submit">Add Event</button>
          </form>





  </body>
</html>
