<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <!-- navbar -->
    <% include partials/functions/navbar %>

    <h1><%= title %></h1>
    <form action="/addmember" method="post" enctype="multipart/form-data">
          <div class="">
            <input class="form-control" type="text" name="name" placeholder="name">
          </div>
          <div class="">
            <input class="form-control" type="text" name="email" placeholder="email">
          </div>
          <div class="">
            <input class="form-control" type="text" name="phone" placeholder="phone #">
          </div>
          <div class="">
            <input class="form-control" type="text" name="description" placeholder="description">
          </div>
          <div class="">
            <input class = "form-control" type="file" name="image" value="">
          </div>
            <button class= "form-control btn btn-primary" type="submit">Add Guest</button>
          </form>

    


  </body>
</html>
