<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>




    <p><%#=meetings.name %></p>
    <p><%#=meetings.location %></p>
    <p><%#=meetings.date %></p>


    <a href="/">Main Page</a>



  </body>
</html>
