<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>



<!-- dropdown menu populated with events -->
<% include partials/functions/links %>

<!-- dropdown menu populated with events -->
<%# include partials/functions/dropdown %>

<!-- search bar -->
<%# include partials/functions/search %>

<!-- search bar with dropdown menu of events -->
<% include partials/functions/searchtwo %>

<!-- populating member info on page -->
<% include partials/functions/memberinfo %>




  </body>
</html>
