<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>



<!-- navbar -->
<% include partials/functions/navbar %>

<center><h1>Calender of Events</h1></center>

<!-- dropdown menu populated with events -->
<%# include partials/functions/dropdown %>

<!-- search bar for guests/members-->
<%# include partials/functions/search %>

<!-- search bar with dropdown menu of events -->
<%# include partials/functions/searchtwo %>

<!-- populating member info on page -->
<%# include partials/functions/memberinfo %>

<!-- populating event info on page -->
<% include partials/functions/eventinfo %>



  </body>
</html>
