<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <!-- <p>Welcome <%= members[1].name %></p> -->
    <h2>Welcome</h2>

    <label>Event:</label>
<select class="form-control" type= "text" name="category">
  <option value="event1">Event1</option>
  <option value="event2">Event2</option>
  <option value="event3" selected>Event3</option>
  <!-- testing 'selected and value attributes' -->
</select>


    <div class="container">
  <div class="row">
    <h2 class="title">Event Name</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" placeholder="Search guest" class="search-query form-control"/><span class="input-group-btn">
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button></span>
      </div>
    </div>
  </div>
</div>

<div class="">
  <a href="/addmember">Add New Guest</a>
</div>
<div class="">
  <a href="/memberlist">Guestlist</a>
</div>
<div class="">
  <a href="/addevent">Add New Event</a>
</div>
<div class="">
  <a href="/eventlist">Eventlist</a>
</div>


  </body>
</html>
