<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>





  <p><%=members.name %></p>
  <p><%=members.description %></p>


    <a href="/">Main Page</a>



  </body>
</html>
