body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*.dropdown-menu {
  background-color: #d9534f !important;*/
  /*color: blue;*/
/*}
.dropdown-menu a {
  color: #ffffff;
}
.dropdown-menu a:hover {
  background-color: #ffffff;
  color: #d9534f;
  text-decoration: none;
}*/
/*.dropdown-divider {
  color: orange;
}*/
