<!-- dropdown list of events -->
    <label>Event:</label>
<form class="" action="/eventcheckin" method="POST">
  <select class="form-control" type= "text" name="name">
  <% meetings.forEach(function(meeting){%>
  <option value="<%=meeting.name%>"><%=meeting.name%></option>
  <% });%>
  </select>
  <!--submit button -->
  <button type="submit" name="button" class="btn btn-danger">Go to Event Page</button>
</form>

<!-- end of dropdown section -->
