<h2>Welcome</h2>
<!-- page links -->
<div class="">
  <a href="/addmember">Add New Guest</a>
  <a href="/memberlist">Guestlist</a>
</div>
<div class="">
  <a href="/addevent">Add New Event</a>
  <a href="/eventlist">Eventlist</a>
</div>
<!-- end of page links -->
